.search-bar {
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 100%;
	padding: 0.25rem 0;
}

.search-form {
	position: relative;
	flex-basis: 70%;
	width: 100%;
	height: 100%;
}

.search-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	padding: 0.57rem 1.25rem;
}

.search-input {
	border-radius: 2rem;
	width: 100%;
	max-width: 100%;
	padding: 0.5rem 2rem;
	margin: 0 auto;
}

.select {
	flex-basis: 28%;
	width: 100%;
	max-width: 100%;
	border-radius: 2rem;
	padding: 0.625rem 2rem;
	margin: 0 auto;
	text-transform: capitalize;
}

.select-option {
	text-transform: capitalize;
}
